*.o
*.mod
*.a
*~
TAGS
changelog
.al
core
*.out
*.log
*.bbl
*.blg
*.aux
fort.*
scratch/*
.#*
bin/*
*.pdf
*.ps
*.eps
.asciifiles
src/mod/*
src/build/*
build/*
mod/*
Makefile
Makefile.in
aclocalm4
autom4te*
config.*
configure
install-sh
missing
stamp-h1

